<div class="tw-flex tw-flex-col tw-gap-3">
    <h1 class="tw-font-serif tw-font-semibold tw-text-2xl tw-pb-3">Log in to Relife</h1>

    <input type="text" placeholder="Mail or username" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>
    <input type="text" placeholder="Password" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>
    
    <a class="tw-dy-link tw-dy-link-hover tw-dy-link-accent">Forgot your password?</a>
    <p class="tw-inline">Need an account? <a class="tw-inline-block tw-dy-link tw-dy-link-hover tw-dy-link-accent">Sign up</a></p>

    <div class="tw-dy-modal-action">
        <form method="dialog"><button class="tw-dy-btn">Close</button></form>
        <button class="tw-dy-btn tw-dy-btn-primary">Login</button>
    </div>
</div>