<form action="/sessions" method="post" class="flex flex-col p-6 justify-between h-viewport gap-10 sm: sm:h-full sm:p-8">
    <div class="flex flex-col gap-3">
        <h1 class="font-serif font-semibold text-2xl pb-3">Log in to Relife</h1>

        <input type="text" name="username" placeholder="Mail or username" class="input input-bordered w-full" required autofocus/>
        <input type="password" name="password" placeholder="Password" class="input input-bordered w-full" required/>
        
        <% if (message != null) { %>
            <% if (messageType === "SUCCESS") { %>
                <div role="alert" class="alert alert-success">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round">
                            <path d="M20 6 9 17l-5-5"/>
                    </svg>
                    <span><%- message -%></span>
                </div>
            <% } else if (messageType === "ERROR") { %>
                <div role="alert" class="alert alert-error">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-circle-alert">
                            <circle cx="12" cy="12" r="10"/>
                            <line x1="12" x2="12" y1="8" y2="12"/>
                            <line x1="12" x2="12.01" y1="16" y2="16"/>
                    </svg>
                    <span><%- message -%></span>
                </div>
            <% } %>
        <% } %>

        <a class="link link-hover link-accent">Forgot your password?</a>
        <p class="inline">Need an account? <a href="/a/signup" class="inline-block link link-hover link-accent">Sign up</a></p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 gap-3">
        <div><a href="/" id="backButton" class="btn w-full">Back</a></div>
        <div class="hidden sm:block sm:w-10"></div>
        <div><button id="nextButton" type="submit" class="btn btn-primary w-full">Log in</button></div>
    </div>
</form>
