<form action="/sessions" method="post" class="tw:flex tw:flex-col tw:p-6 tw:justify-between tw:h-viewport tw:gap-10 sm: tw:sm:h-full tw:sm:p-8">
    <div class="tw:flex tw:flex-col tw:gap-3">
        <h1 class="tw:font-serif tw:font-semibold tw:text-2xl tw:pb-3">Log in to Relife</h1>

        <input type="text" name="username" placeholder="Mail or username" class="tw:dy-input tw:dy-input-bordered tw:w-full" required autofocus/>
        <input type="password" name="password" placeholder="Password" class="tw:dy-input tw:dy-input-bordered tw:w-full" required/>
        
        <% if (message != null) { %>
            <% if (messageType === "SUCCESS") { %>
                <div role="alert" class="tw:dy-alert tw:dy-alert-success">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round">
                            <path d="M20 6 9 17l-5-5"/>
                    </svg>
                    <span><%- message -%></span>
                </div>
            <% } else if (messageType === "ERROR") { %>
                <div role="alert" class="tw:dy-alert tw:dy-alert-error">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-circle-alert">
                            <circle cx="12" cy="12" r="10"/>
                            <line x1="12" x2="12" y1="8" y2="12"/>
                            <line x1="12" x2="12.01" y1="16" y2="16"/>
                    </svg>
                    <span><%- message -%></span>
                </div>
            <% } %>
        <% } %>

        <a class="tw:dy-link tw:dy-link-hover tw:dy-link-accent">Forgot your password?</a>
        <p class="tw:inline">Need an account? <a href="/a/signup" class="tw:inline-block tw:dy-link tw:dy-link-hover tw:dy-link-accent">Sign up</a></p>
    </div>

    <div class="tw:grid tw:grid-cols-2 tw:sm:grid-cols-3 tw:gap-3">
        <div><a href="/" id="backButton" class="tw:dy-btn tw:w-full">Back</a></div>
        <div class="tw:hidden tw:sm:block tw:sm:w-10"></div>
        <div><button id="nextButton" type="submit" class="tw:dy-btn tw:dy-btn-primary tw:w-full">Log in</button></div>
    </div>
</form>
