<form action="/register" method="post" class="flex flex-col p-6 justify-between h-viewport gap-10 sm: sm:h-full sm:p-8">
    <div class="flex flex-col gap-3">
        <h1 class="font-serif font-semibold text-2xl">Create a new account</h1>
        
        <div class="form-control w-full">
            <div class="label"><span class="label-text">Mail</span></div>
            <input name="mail" type="email" placeholder="Enter your email address" class="input input-bordered w-full"/>
        </div>

        <div class="form-control w-full">
            <div class="label"><span class="label-text">Handle</span></div>
            <input name="handle" type="text" placeholder="Choose your unique handle" class="input input-bordered w-full"/>
        </div>

        <div class="form-control w-full">
            <div class="label"><span class="label-text">Password</span></div>
            <input name="password" type="password" placeholder="Choose your password" class="input input-bordered w-full"/>
        </div>

        <div class="form-control w-full">
            <div class="label"><span class="label-text">Birthday</span></div>
            <input name="birthDate" type="date" placeholder="Input your birthday" class="input input-bordered w-full"/>
        </div>

        <p class="inline">Already have an account? <a href="/a/login" class="inline-block link link-hover link-accent">Log in</a></p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 gap-3">
        <div><a href="/" id="backButton" class="btn w-full">Back</a></div>
        <div class="hidden sm:block sm:w-40"></div>
        <div><button id="nextButton" type="submit" class="btn btn-primary w-full">Sign up</button></div>
    </div>
</form>