<form action="/register" method="post" class="tw:flex tw:flex-col tw:p-6 tw:justify-between tw:h-viewport tw:gap-10 sm: tw:sm:h-full tw:sm:p-8">
    <div class="tw:flex tw:flex-col tw:gap-3">
        <h1 class="tw:font-serif tw:font-semibold tw:text-2xl">Create a new account</h1>
        
        <div class="tw:dy-form-control tw:w-full">
            <div class="tw:dy-label"><span class="tw:dy-label-text">Mail</span></div>
            <input name="mail" type="email" placeholder="Enter your email address" class="tw:dy-input tw:dy-input-bordered tw:w-full"/>
        </div>

        <div class="tw:dy-form-control tw:w-full">
            <div class="tw:dy-label"><span class="tw:dy-label-text">Handle</span></div>
            <input name="handle" type="text" placeholder="Choose your unique handle" class="tw:dy-input tw:dy-input-bordered tw:w-full"/>
        </div>

        <div class="tw:dy-form-control tw:w-full">
            <div class="tw:dy-label"><span class="tw:dy-label-text">Password</span></div>
            <input name="password" type="password" placeholder="Choose your password" class="tw:dy-input tw:dy-input-bordered tw:w-full"/>
        </div>

        <div class="tw:dy-form-control tw:w-full">
            <div class="tw:dy-label"><span class="tw:dy-label-text">Birthday</span></div>
            <input name="birthDate" type="date" placeholder="Input your birthday" class="tw:dy-input tw:dy-input-bordered tw:w-full"/>
        </div>

        <p class="tw:inline">Already have an account? <a href="/a/login" class="tw:inline-block tw:dy-link tw:dy-link-hover tw:dy-link-accent">Log in</a></p>
    </div>

    <div class="tw:grid tw:grid-cols-2 tw:sm:grid-cols-3 tw:gap-3">
        <div><a href="/" id="backButton" class="tw:dy-btn tw:w-full">Back</a></div>
        <div class="tw:hidden tw:sm:block tw:sm:w-40"></div>
        <div><button id="nextButton" type="submit" class="tw:dy-btn tw:dy-btn-primary tw:w-full">Sign up</button></div>
    </div>
</form>