<div class="tw-flex tw-flex-col tw-gap-3">
    <div>
        <h1 class="tw-font-serif tw-font-semibold tw-text-2xl">Create a new account</h1>
        <p>Step 1 of 3</p>
    </div>
    
    <div class="tw-dy-form-control tw-w-full">
        <div class="tw-dy-label"><span class="tw-dy-label-text">Mail</span></div>
        <input type="text" placeholder="Enter your email address" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>
    </div>

    <div class="tw-dy-form-control tw-w-full">
        <div class="tw-dy-label"><span class="tw-dy-label-text">Password</span></div>
        <input type="text" placeholder="Choose your password" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>
    </div>

    <div class="tw-dy-form-control tw-w-full">
        <div class="tw-dy-label"><span class="tw-dy-label-text">Birthday</span></div>
        <input type="date" placeholder="Input your birthday" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>
    </div>

    <p class="tw-inline">Already have an account? <a class="tw-inline-block tw-dy-link tw-dy-link-hover tw-dy-link-accent">Log in</a></p>

    <div class="tw-dy-modal-action">
        <form method="dialog"><button class="tw-dy-btn">Close</button></form>
        <button class="tw-dy-btn tw-dy-btn-primary">Next</button>
    </div>
</div>