<div class="tw-flex tw-flex-col tw-gap-3">
    <h1 class="tw-font-serif tw-font-semibold tw-text-2xl tw-pb-3">Your user handle</h1>
    <p>Step 2 of 3</p>

    <input type="text" placeholder="Enter your handle" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>

    <div class="tw-dy-modal-action">
        <button class="tw-dy-btn">Previous</button>
        <button class="tw-dy-btn tw-dy-btn-primary">Next</button>
    </div>
</div>