<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <title><%- title -%></title>
</head>

<body class="tw-flex tw-flex-col tw-h-viewport tw-items-center tw-justify-center tw-bg-base-300">
    <div class="tw-w-full sm:tw-w-96 sm:tw-rounded-3xl tw-bg-base-100">
        <% if (accessType === "LOGIN") { %>
            <%- include('partials/login') -%>
        <% } else if (accessType === "SIGNUP") { %>
            <%- include('partials/signup') -%>
        <% } %>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>