<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <title><%- title -%></title>
</head>

<body class="flex flex-col h-viewport items-center justify-center bg-base-300">
    <div class="w-full sm:w-96 sm:rounded-3xl bg-base-100">
        <% if (accessType === "LOGIN") { %>
            <%- include('partials/login') -%>
        <% } else if (accessType === "SIGNUP") { %>
            <%- include('partials/signup') -%>
        <% } %>
    </div>
</body>

</html>