<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <title>ReLife</title>
</head>

<body class="tw-flex tw-flex-col md:tw-grid md:tw-grid-cols-5 tw-relative tw-h-viewport tw-inverted-background">
    <!-- Logo -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
        <defs>
            <g id="logo" aria-label="Relife" style="font-size:173.19px;">
                <path d="M225.01 449.27q-18.87 0-29.61-12.46-10.57-12.47-10.57-34.99 0-24.25 10.05-36.54 10.04-12.3 28.4-12.3 16.8 0 26.33 10.4 9.7 10.38 9.7 31v7.96h-57.68q.35 18.88 6.76 27.54 6.58 8.48 19.05 8.48 9 0 15.24-3.63 6.4-3.81 9.52-8.49 1.22.52 2.26 2.08 1.03 1.56 1.03 3.8 0 3.47-3.29 7.46-3.29 3.98-10.04 6.92-6.76 2.77-17.15 2.77zm16.8-56.28q0-13.86-4.33-22.17-4.15-8.49-14.55-8.49-9.52 0-14.89 7.97-5.2 7.8-6.06 22.69zm28.4 54.55v-7.27h2.26q5.89 0 10.04-2.08 4.16-2.25 4.16-10.4v-92.82q0-7.62-4.33-9.7-4.16-2.08-9.87-2.08h-2.25v-7.27h32.73V427.8q0 8.14 4.16 10.4 4.15 2.07 10.04 2.07h2.25v7.27zm79.33-110.15q-4.16 0-7.1-2.42-2.78-2.43-2.78-8.31 0-6.07 2.78-8.32 2.94-2.42 7.1-2.42 3.98 0 6.92 2.42 2.95 2.25 2.95 8.32 0 5.88-2.95 8.3-2.94 2.43-6.92 2.43zm-23.9 110.15v-7.27h2.25q5.71 0 9.87-1.9 4.33-2.08 4.33-9.7v-54.9q0-7.63-4.33-9.7-4.16-2.08-9.87-2.08h-.52v-7.28h31v73.09q0 8.14 4.16 10.4 4.15 2.07 10.04 2.07h2.25v7.27zm56.11 0v-7.27H384q5.89 0 10.05-2.08 4.15-2.25 4.15-10.4v-64.94h-15.76v-8.14h15.76v-8.66q0-15.41 8.14-23.55 8.32-8.31 22.52-8.31 13.5 0 18.88 3.46 5.36 3.3 5.36 8.66 0 4.68-3.98 7.27-3.98 2.43-10.22 2.43 0-5.2-2.42-9.53-2.43-4.33-9-4.33-7.46 0-10.23 5.72-2.77 5.71-2.77 16.62v10.22h24.42v8.14h-24.42v64.95q0 8.14 4.16 10.4 4.16 2.07 10.04 2.07h6.59v7.27zm108.94 1.73q-18.88 0-29.62-12.46-10.56-12.47-10.56-34.99 0-24.25 10.04-36.54 10.05-12.3 28.4-12.3 16.8 0 26.33 10.4 9.7 10.38 9.7 31v7.96H467.3q.34 18.88 6.75 27.54 6.58 8.48 19.05 8.48 9 0 15.24-3.63 6.41-3.81 9.53-8.49 1.2.52 2.25 2.08 1.04 1.56 1.04 3.8 0 3.47-3.3 7.46-3.28 3.98-10.04 6.92-6.75 2.77-17.14 2.77zm16.8-56.28q0-13.86-4.33-22.17-4.16-8.49-14.55-8.49-9.53 0-14.9 7.97-5.2 7.8-6.06 22.69z" transform="translate(-52.69 -314.19)"/>
                <path d="M88.45 323.89s-2.89 11.91-2.68 20.85c.16 6.76 4.11 6.93 4.11 6.93s4.97-7.54 12.17-9.64c11.03-3.22 18.9 1.9 24.45 9.69 4.07 3.56 17.12-.22 17.12-.22s-9.9 24.05-30.1 24.05c-20.22 0-23.64-13.92-23.64-13.92s-12.22-3.4-12.22-22.85c0-11.92-2.66-14.9-2.66-14.9H52.69v9.88h6.93c1.96 0 3.98.63 6.06 1.9 2.08 1.16 3.12 3.93 3.12 8.31v83.66c0 4.38-.99 7.16-2.95 8.31a12.1 12.1 0 0 1-6.23 1.73h-6.93v9.87h61.66v-9.87h-5.55c-2.54 0-4.62-.58-6.23-1.73-1.62-1.15-2.43-3.93-2.43-8.31V394.2h10.22l19.23 37.76c3.34 6.46 8.14 10.68 14.37 12.64 6.24 1.96 14.43 2.94 24.6 2.94h7.1v-9.87h-1.05c-3 0-5.7-1.15-8.13-3.46-2.43-2.31-5.2-6.06-8.32-11.26l-20.09-34.47a42.74 42.74 0 0 0 11.78-5.71 28.7 28.7 0 0 0 8.83-10.4c2.31-4.26 3.47-9.63 3.47-16.1 0-10.04-3.82-17.95-11.44-23.72-7.62-5.78-20.43-8.66-38.44-8.66zm3.68 33c-.32-.4.79-2.27 4-3.62a12.4 12.4 0 0 1 4.85-.92c3.08.04 6.05.92 9.22 2.23l.13.05c3.7 1.48 5.5 2.46 8.42 3.35 2.44.73 4.35.89 5.88.88 1.47 0 2.38-.12 2.52.2.2.44-2.9 3.24-9.14 2.07-3.1-.56-5.79-1.66-9.09-3l-.12-.05c-3.17-1.24-5.49-2.16-8-2.44a13.1 13.1 0 0 0-3.91.1c-2.73.48-4.45 1.53-4.76 1.14z" transform="translate(-52.69 -314.19)"/>
            </g>
        </defs>
    </svg>

    <!-- Pattern -->
    <svg class="tw-z-0 tw-absolute tw-h-full tw-w-full tw-opacity-10 dark:tw-opacity-45" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="graphic" width="600" height="600" viewBox="0 0 600 600" patternUnits="userSpaceOnUse">
                <image href="/svg/topography.svg"></image>
            </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#graphic)"></rect>
    </svg>

    <!-- Background blobs -->
    <svg 
        class="tw-z-[1] md:tw-hidden tw-absolute tw-bottom-0 tw-object-fill tw-h-[32rem] tw-w-full tw-fill-base-100"
        viewBox="0 0 393 595" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
    ><path d="M0.5 184L0 595H393V0C393 0 308.806 74.8472 208.5 125C104.5 177 0.5 184 0.5 184Z"/></svg>

    <svg 
        class="tw-z-[1] tw-hidden md:tw-block tw-absolute tw-h-full tw-right-0 sm:tw-w-[55%] md:tw-w-[45%] tw-fill-base-100"
        viewBox="0 0 761 1024" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
    ><path d="M42 0H761V1024H42L21.0055 932.942C6.50716 870.06 5.79607 804.784 18.9211 741.601L28.3355 696.281C37.272 653.26 34.1773 608.609 19.3913 567.234L17.0409 560.656C-5.28602 498.179 -5.14245 429.873 17.4469 367.49L28.7658 336.231C54.4817 265.213 55.1727 187.543 30.7245 116.079C17.5555 77.5852 21.6783 35.2455 42 0Z"/></svg>

    <!-- Left column -->
    <div class="tw-z-10 tw-hidden md:tw-flex tw-flex-col md:tw-col-span-3 tw-grow tw-h-full tw-justify-center tw-gap-2 tw-pl-16 lg:tw-pl-20">
        <svg class="tw-fill-text-800 dark:tw-fill-text-200 tw-w-80 lg:tw-w-96 xl:tw-w-[30rem]" viewBox="0 0 472 135" xmlns="http://www.w3.org/2000/svg"><use href="#logo" /></svg>
        <h1 class="tw-text-4xl tw-font-serif tw-text-text-800 dark:tw-text-text-200">An evergrowing<br>system</h1>
    </div>

    <!-- Right column -->
    <div class="tw-z-10 tw-flex tw-flex-col md:tw-col-span-2 xl-970:tw-pr-10 tw-grow">
        <!-- Content -->
        <div class="tw-absolute tw-w-full md:tw-relative sm:tw-px-28 tw-p-8 tw-pb-24 md:tw-pt-16 md:tw-p-8 tw-flex tw-flex-col tw-h-full tw-justify-end tw-gap-6 md:tw-gap-10 md:tw-justify-center">
            <div class="md:tw-hidden tw-flex-grow tw-pt-20">
                <svg class="tw-fill-text-800 dark:tw-fill-text-200 tw-w-64 sm-500:tw-w-72" viewBox="0 0 472 135" xmlns="http://www.w3.org/2000/svg"><use href="#logo"/></svg>
                <h1 class="tw-text-2xl tw-font-serif tw-text-text-800 dark:tw-text-text-200">An evergrowing<br>system</h1>
            </div>
            
            <div class="tw-flex tw-flex-col tw-gap-1 md:tw-gap-2">
                <h1 class="tw-font-serif tw-tracking-tighter tw-font-medium tw-text-3xl md:tw-leading-[3rem] lg:tw-leading-[3.8rem] md:tw-text-[2.25rem] lg:tw-text-[2.5rem]">Plant your seed &#127793</h1>
                <h2 class="md:tw-text-2xl tw-font-medium">Join the community!</h2>
            </div>

            <!-- Buttons -->
            <div class="tw-grid tw-grid-cols-2 tw-gap-x-3 tw-bottom-0 ">
                <div class="tw-col-span-2">
                    <a href="/explore"><button class="tw-dy-btn tw-dy-btn-secondary tw-w-full">Explore</button></a>
                </div>
                <div class="tw-col-span-2">
                    <div class="mx-auto tw-dy-divider">or</div>
                </div>
                <a href="/a/signup"><button class="tw-dy-btn tw-dy-btn-primary tw-w-full">Sign up</button></a>
                <a href="/a/login"><button class="tw-dy-btn tw-dy-btn-primary tw-w-full">Log in</button></a>
            </div>
        </div>
        
        
        <footer class="tw-absolute md:tw-relative tw-bottom-0 tw-w-full tw-flex tw-flex-col tw-text-xs tw-leading-3 tw-fill-light-base dark:tw-fill-dark-base">
            <p class="tw-w-full tw-text-center tw-mb-1">Website built for educational purposes</p>
            <p class="tw-w-full tw-text-center tw-mb-1">Made with ♥️ in Italy</p>
            <a href="https://meltix.vercel.app" class="tw-w-full tw-text-center tw-opacity-70 tw-mb-3 tw-text-current tw-no-underline">&copy 2024 Alessio Cameroni</a>
        </footer>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>