<%- include('../../partials/feed/header') -%>

<!-- Content -->
<div class="tw-dy-drawer-content tw-flex tw-flex-col tw-min-h-[100svh]">

</div>

<!-- Drawer -->
<aside class="tw-dy-drawer-side">
    <nav class="tw-flex tw-flex-col tw-w-64 tw-h-full tw-p-3">
        
    </nav>
</aside>

<%- include('../../partials/feed/footer') -%>