<% if (userType === 'GUEST') { %>
    <div class="tw-w-full tw-px-3">Sign up or log in to engage with the community</div>

    <div class="tw-h-3"></div>

    <div class="tw-grid tw-grid-cols-2 tw-gap-2 tw-px-3">
        <a href="/a/signup"><button class="tw-dy-btn tw-dy-btn-sm tw-dy-btn-primary tw-w-full">Sign up</button></a>
        <a href="/a/login"><button class="tw-dy-btn tw-dy-btn-sm tw-w-full">Log in</button></a>
    </div>
<% } else if (userType === 'USER') { %>
    <button class="tw-dy-btn tw-dy-btn-secondary tw-w-full tw-px-3">Post</button>
    <div class="tw-h-4"></div>

    <ul class="tw-dy-menu tw-w-60 tw-p-0 tw-gap-2 text-base-content">
        <li><a><i data-lucide="home"></i>Home</a></li>
        <li><a><i data-lucide="search"></i>Search</a></li>
        <li><a><i data-lucide="user"></i>Profile</a></li>
    </ul>
    <ul class="tw-dy-menu tw-w-60 tw-p-0 tw-pb-3 tw-absolute tw-bottom-0">
        <li><a><i data-lucide="settings"></i>Settings</a></li>
        <li><a><i data-lucide="log-out"></i>Log out</a></li>
    </ul>
<% } else if (userType === 'MODERATOR') { %>
    
<% } %>