<% if (userType === 'GUEST') { %>
    <div class="tw-absolute tw-bottom-0 tw-w-full tw-bg-light-base dark:tw-bg-dark-base tw-border-t-2 tw-border-background-100 dark:tw-border-background-900 sm:tw-hidden">
        <div class="tw-grid tw-grid-cols-2 tw-gap-y-1 tw-gap-x-2 tw-p-6">
            <a href="/a/signup"><button class="tw-dy-btn tw-dy-btn-sm tw-dy-btn-primary tw-w-full">Sign up</button></a>
            <a href="/a/login"><button class="tw-dy-btn tw-dy-btn-sm tw-w-full">Log in</button></a>
        </div>
    </div>
<% } else { %>
    <nav class="tw-dy-btm-nav tw-dy-btm-nav-sm">
        <% if (tab === "HOME") { %><button class="tw-dy-active"><i data-lucide="home" class="tw-h-5 tw-w-5"></i></button>
        <% } else { %><button class="tw-dy-inactive"><i data-lucide="home" class="tw-h-5 tw-w-5"></i></button><% } %>

        <% if (tab === "SEARCH") { %><button class="tw-dy-active"><i data-lucide="search" class="tw-h-5 tw-w-5"></i></button>
        <% } else { %><button class="tw-dy-inactive"><i data-lucide="search" class="tw-h-5 tw-w-5"></i></button><% } %>

        <% if (tab === "PROFILE") { %><button class="tw-dy-active"><i data-lucide="user" class="tw-h-5 tw-w-5"></i></button>
        <% } else { %><button class="tw-dy-inactive"><i data-lucide="user" class="tw-h-5 tw-w-5"></i></button><% } %>
    </nav>
<% } %>