<div class="tw-flex tw-flex-col tw-gap-3">
    <h1 class="tw-font-serif tw-font-semibold tw-text-2xl tw-pb-3">Setup your profile</h1>
    <p>Step 3 of 3</p>

    <div class="tw-dy-form-control tw-w-full">
        <div class="tw-dy-label"><span class="tw-dy-label-text">Profile picture</span></div>
        <div class="tw-dy-avatar">
            <div class="tw-w-24 tw-rounded-full">
                <!-- Image -->
            </div>
        </div>
    </div>

    <div class="tw-dy-form-control tw-w-full">
        <div class="tw-dy-label"><span class="tw-dy-label-text">Username</span></div>
        <input type="date" placeholder="Enter your username" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>
    </div>

    <div class="tw-dy-form-control tw-w-full">
        <div class="tw-dy-label"><span class="tw-dy-label-text">Bio</span></div>
        <input type="date" placeholder="Enter your bio" class="tw-dy-input tw-dy-input-bordered tw-w-full"/>
    </div>

    <button class="tw-dy-btn tw-dy-btn-secondary">Maybe later</button>
    <p>You can always change these later</p>
</div>