@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    @font-face {
        font-family: 'Noto Serif';
        src: url(/resources/fonts/NotoSerif.ttf) format("ttf");
    }
    @font-face {
        font-family: 'Roboto Flex';
        src: url(/resources/fonts/RobotoFlex.ttf) format("ttf");
    }
}

@layer components {
    .tw-dy-btn {
        @apply tw-rounded-2xl
    }
}