@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    @font-face {
        font-family: 'Noto Serif';
        font-display: swap;
        src: url(/fonts/NotoSerif.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Roboto Flex';
        font-display: swap;
        src: url(/fonts/RobotoFlex.ttf) format('truetype');
    }
}

@layer components {
    .tw-dy-btn { @apply tw-rounded-2xl }
    .tw-dy-active { @apply tw-text-primary }
    .tw-dy-btm-nav { @apply tw-border-t-2 tw-border-background-100 dark:tw-border-background-900 sm:tw-hidden }
    .tw-dy-dropdown-content { @apply tw-z-[1] tw-dy-menu tw-p-2 tw-shadow tw-bg-background-200 dark:tw-bg-background-800 tw-rounded-box tw-w-32 }
}

@layer utilities {
    .tw-h-viewport { @apply tw-h-[100svh] }
    .tw-dy-inactive { @apply tw-text-base-content } /* Complementary class for active */
    .tw-inverted-background { @apply tw-bg-background-200 dark:tw-bg-background-800 }
}